.recentwork{
    height: 90vh;
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 480px) {
            height: 200vh;}
        .pgtittle{
            margin: 50px;
            font-size: 30px;
            margin-left: 140px;

        }
        
    .wrapper{
        width: 80%;
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
        background-color: white;
        border-radius: 100px;
        margin-left: 110px;
        

    
    .imagecontainer
    {
        width: 400px;
        height: 250px;
        border-radius: 10px;
        color: white;
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 480px) {
            width: 300px;
        height: 200px;}

        h2{
            position: absolute;
        }
        img{
            width: 100%;
            height: 100%; 
            z-index: 1;
            
        }
        &:hover{
            background-color:#6C63FF ;
            img{
                opacity: 0.2;
                z-index: 0;
                transition: all 0.5s ease;
            }
        }
    }
}}