.contact{
  
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
 height: 90vh;
    overflow: hidden;
    @media screen and (max-width: 480px) {
      flex-direction: row;}

.left{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 480px) {
      padding-left: 20px;
    }

.shake{
    height: 450px;
    width:450px;
    border-radius: 10px;
    @media screen and (max-width: 480px) {
      padding-top: 10px;
      height: 300px;
      width:300px;
    }

    
}}


    .right {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        h2 {
          font-size: 30px;
          margin-bottom: 15px;
          @media screen and (max-width: 480px) {
            font-size: 15px;
          margin-bottom: 7px;}

        }
    
        form {
          width: 70%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          border:none;
          

    
          input {
            width: 350px;
            height: 40px;
            font-size: 14px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: none;
            @media screen and (max-width: 480px) {
              width: 150px;
              height: 20px;
              font-size: 7px;
              margin-bottom: 7px;
              border-radius: 3px;
              border: none;
            }
           
          }
    
          textarea {
            width: 350px;
            height: 400px;
            font-size: 14px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: none;
            @media screen and (max-width: 480px) {

              width: 150px;
              height: 200px;
              font-size: 7px;
              margin-bottom: 7px;
              border-radius: 3px;
              border: none;
            }

    
           
          }
    
          button {
            width: 150px;
            height: 40px;
            color: white;
            background-color: crimson;
            border: none;
            border-radius: 10px;
            font-weight: 500;
            cursor: pointer;
            
    
            &:focus {
              outline: none;
            }
            @media screen and (max-width: 480px) {
              width: 75px;
              height: 20px;}


          }
        }}}