
body.light {
  background-color: #f7f7f7;
  color:#6C63FF;
}


body.dark {
  background-color: #6C63FF;
  color: black;
}
button{
  background-color: #6C63FF;
  border:none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
