.app{
    
    
    .sections{
        background-image:url('./hand.avif');
        background-size:contain;
        position:relative;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
            display: none;
        }
       
       }
       @media screen and (max-width: 480px) {
        .sections{
            background-image:url('./hand.avif');
            background-size:contain;}
        }
    
    }
  /* @media screen and (max-width:480px) {
            
        .app{
            height: calc(100vh - 100px);
        }
        > *{
            width: 100vw;
            height: calc(100vh - 100px);
            scroll-snap-align: start;
            
        }

*/

